
.card{
    width: 90%;
    max-width: 350px;
    border: 1px solid #000000;
    margin-top: 0;
    margin: auto ;
    padding: 40px;
    background: linear-gradient(to bottom, #d85c70,  #ff9900);
    text-align: center;
    border-radius: 20px;
   
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search input {
    height: 50px;
    border: 0;
    padding-left: 20px;
    border-radius:20px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}

.search button {
    border-radius: 20px;
    cursor: pointer;
    border: 0;
}

header {
    display: flex;
    justify-content: center;
    color: purple;
}

.weather-icon{

    width:90px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 500;
}

.city {
    font-size: 40px;
    
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col {
    display: flex;
    align-items: center;
    text-align: center;
}
.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-bottom: 0;
}
@media (max-width:412px) {
    .card {

        max-width: 250px;
       
    }
    .search input {
        width:200px ;
        flex: 0;
    }

}

.weather {
    display: none;
}

.error {
    display: flex;
    text-align: left;
    font-size: 16px;
    color: white;
    display: none;
    

}



/* @media ( max-width:412px){
    
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        
    }
   

    .searchdiv{
        display: flex;
        flex-direction: row;
        width: 180px;
        margin-top: 10px;
    }
    

    input{
        border-radius: 10px;
        margin-right: 10px;
        font-size: 15px;
        width: 140px;

    }
    #cloudsvg{
        position: relative;
        margin-left: 50px;
        margin-top: 40px;

    }
    .icons{
        display: flex;
        flex-direction: row;
        margin-top: 10px;

    }
    
    #humidityicon{
        margin-left: 80px;
        
    }
    .citydiv{
        display: flex;
        flex-direction: column;
        margin-left: 60px; 
        
        
    }
    #temp{
        margin-left:5px ;
        font-size: 40px;
        margin-bottom: 0px;
        color:white;
    }

    #humidityicontext, #windicontext{
        display: flex;
        flex-direction: row;
        font-size: small;
        color: white;

    }


}
@media (min-width:413px){
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
    }
    .bodycard{
        width: 340px;
        height: 490px;
        border: 1px solid #000000;
        padding: 10px;
        padding-left: 25px;
        background: linear-gradient(to bottom, #d85c70,  #ff9900);
        border-radius: 10px;
    
    }

    .searchdiv{
        display: flex;
        flex-direction: row;
        width: 220px;
        margin-top: 10px;
    }
    

    input{
        border-radius: 10px;
        margin-right: 10px;
        font-size: larger;

    }
    #cloudsvg{
        position: relative;
        margin-left: 120px;
        margin-top: 40px;

    }
    .icons{
        display: flex;
        flex-direction: row;
        margin-top: 20px;

    }
    
    #humidityicon{
        margin-left: 160px;
        
    }
    .citydiv{
        display: flex;
        flex-direction: column;
        margin-left: 80px; 
        
        
    }
    #temp{
        margin-left:50px ;
        font-size: 40px;
        margin-bottom: 0px;
        color:white;
    }

    #humidityicontext, #windicontext{
        display: flex;
        flex-direction: row;
        font-size: large;
        color: white;

    }

    





} */
